# Archivos de Python compilados y temporales
__pycache__/
# *.py[cod]
# *.so
# *.dll
# *.dylib
# *.pyd

# Configuraciones de entorno virtual (si usas venv)
venv/
env/

# Archivos de logs y caché
logs/
*.log
*.out
*.err

# Archivos de configuración y credenciales
*.env
.env*
config.json
secrets.json
*.sqlite
*.db

# Archivos de dependencias de Python
pip-log.txt
pip-delete-this-directory.txt

# Datos generados o temporales
tareas/t1/
# dataset/
# output/
# results/
*.csv
*.xlsx
# *.parquet
*.h5
*.hdf5
*.feather
*.zip
*.tar
*.gz
*.sav
# *.pickle
# Ignorar archivos CSV grandes
tareas/t2/data/
tareas/t2/data/train_test/X_train.csv
tareas/t2/data/train.csv

# Archivos de notebooks temporales
.ipynb_checkpoints/

# Archivos de IDEs y editores de código
.vscode/
.idea/
*.sublime-workspace
*.swp

# Archivos de control de versiones de Jupyter
checkpoint.ipynb

# Archivos de PySpark temporales
metastore_db/
derby.log
spark-warehouse/
*.crc
*.avro

# Modelos entrenados y pesados (si usas ML)
models/
*.h5
*.pb
*.pt
*.pkl
*.joblib
*.onnx
tareas/t2/data/raw/sales_train.csv
tareas/t2/data/train_test/X_train.csv
tareas/t2/data/train.csv
tareas/t2/data/raw/sales_train.csv
tareas/t2/data/train_test/X_train.csv
tareas/t2/data/train.csv
